.nav__subtitle {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.nav__logout {
    margin-top: 5rem;
    cursor: pointer;
}

.menuItem {
    color: "#141414";
    background-color: #c2c2c2 !important;
}

.menuItem:hover {
    background-color: #c2c2c2 !important;
    color: #6870fa !important;
}

.sidebar {
    max-height: 100vh;
    overflow-y: auto;
}

.divSidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
}