.nav__subtitle {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.nav__logout {
    margin-top: 5rem;
    cursor: pointer;
}

.menuItem {
    color: "#141414";
    background-color: #c2c2c2 !important;
}

.menuItem:hover {
    background-color: #c2c2c2 !important;
    color: #6870fa !important;
}